{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
    <h1 class="display-1 text-center">Add New Training</h1>
    <div class="container">
        <a class="btn btn-warning" href="{% url 'index' %}">Back</a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>